.discover {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7vh;
    z-index: 100;
}

.discover .options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.discover .options button {
    text-align: start;
    cursor: pointer;
    width: 90%;
    border: 0;
    border-bottom: 1px solid;
    font-size: 16px;
}

.discover .users {
    width: 100%;
    margin-top: 20px;
}

