.friend-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.friend-list img {
    margin: 5px 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.friend-list h3 {
    font-weight: 500;
}

.friend-list button {
    background: #fe5051;
    padding: 10px;
    color: #fff;
    border: 0;
    border-radius: 15px;
    margin: 0px 5px;
}