.friend {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-left: 6px solid rgba(255, 255, 255, 1);
}

.friend:hover {
}
.active {
    border-left: 6px solid #fe5051;
    background: linear-gradient(to right, #fff, #ebf4fb);
}

.friend-image {
    position: relative;
    margin: 10px 5px;
    border-radius: 50%;
    /* padding: 10px; */
}
.friend img {
    height: 50px;
    border-radius: 50%;
    width: 50px;
    margin-left: 20px;
}
.friend-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.friend-info h3 {
    font-weight: 800;
}
.friend-info h4 {
    font-weight: 400;
}
.online-status {
    color: #4CAF50;
}
.offline-status {
    color: #a5a5a5;
}