.home-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 90%;
    overflow: hidden;
}
.home {
    height: 100%;
}
/* media queris 1024 px */
@media screen and (max-width: 1024px) {
    .home-content {
        grid-template-columns: 5fr 6fr;
    }
}
/* media queris 768 px */
@media screen and (max-width: 768px) {
    .home-content {
        grid-template-columns: 1fr;
    }
}
