.message {
  width: 100%;
  margin-bottom: 5px;
}
.message-received {
  margin-left: 5px;
  display: flex;
  align-items: center;

}

.message-received img {
  margin: 0px 5px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.message-sent {
  display: flex;
  align-items: center;
  margin-right: 5px;
  justify-content: flex-end;
}


.message-sent h4 {
  max-width: 60%;
  padding: 10px;
  background-color: #fe5051;
  border-radius: 15px;
  color: #ebf4fb;
}

.message-received h4 {
  max-width: 60%;
  padding: 10px;
  background-color: #ebf4fb;
  border-radius: 15px;
  color: black;
  font-weight: 400;
}

.message-sent img {
  margin: 0px 5px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.seen {
  display: flex;
}
.seenImg {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ebf4fb;
  margin-left: auto;
  margin-right: 55px;
}
